/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// :root{
//     --font-family: "Space Grotesk, Arial, sans-serif";
// }

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
//   $color-pack: false
$body-font-family: 'Space Grotesk, Arial, sans-serif',
$label-color: #ffffff
);